@import "../../scss/main";

.ChatInput {
  background-color: white;
  height: 100px;

  .flex {
    display: flex;
    padding: 20px 50px;

    .input {
      background-color: white;
      border: 2px solid darken($grey-light, 10);
      width: 100%;
      border-radius: 20px 20px 20px 0;
      padding: 12px 20px;

      &::placeholder {
        color: lighten($grey-dark, 20);
        font-size: 1.5em;
        font-family: $font-second;
      }
    }

    .btn-round {
        border: 2px solid darken($grey-light, 15);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30px;
        position: relative;
        
    }
  
    .btn-round::after {
        content:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:gray" d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>');
        position: absolute;
        top:10px;
        left:07px;
        width: 25px;
        height: 25px;
   
    }
  }
}

