@import "../../scss/main";

.MessageList {
 
  width: 100%;
  height: 100%;
  display: block;
  font-family: $font-main;
  color: $grey-dark;

  li{
    list-style: none;
    padding: 10px 30px;
    background-color: white;
    border-radius: 50px 50px 0 50px;
    margin: 20px $margin-default;
   
    &.myComment{
      background-color: $green-light;
      border-radius: 50px 50px 50px 0px;
      text-align: right;
    }
    
    .time{
      color: lighten(#595959,30);
      font-size: 0.8em;
    }
  }


  

}
