
$green-dark:#00BEA0;
$green-medium:#50E6C8;
$green-light:#d3f2ec;
$willow-green: #96FFC8;
$purple: #C378FF;
$violet:#D282FF;
$blue:#A0B9FF;

$grey-light:#F5F5F5;
$grey-dark:#595959;

$gradient-purple:linear-gradient(90deg, rgba(195,120,255,1) 0%, rgba(210,130,255,1) 52%, rgba(160,185,255,1) 82%);

$gradient-green: linear-gradient(90deg, rgba(0,190,160,1) 0%, rgba(80,230,200,1) 47%, rgba(211,242,236,1) 87%);